<h2>Product Details</h2>
<div>
  Name: <%= productDetails.name %>
</div>
<div>
  Price: <%= productDetails.price %>
</div>
<div>
  <img src="<%= productDetails.imageUrl %>">
</div>
<p>
  Description: <%= productDetails.description %>
</p>
