body {
  font-family: 'Avenir';
  font-weight:300;
  overflow-x: hidden;
}

header {
  overflow: hidden;
}

header h1 {
  letter-spacing: 2px;
  float:left;
  margin:0;
}

p {
  font-size:18px;
}

header {
  width:100%;
  height:80px;
  border-bottom:1px solid black;
  line-height:80px;
}

nav {
  float:right;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  font-size:18px;
  color:#000;
}

nav a:hover {
  color:green;
}

img {
  max-width:300px;
}

label {
  font-weight: bold;
}

a {
  text-decoration: none;
  color:#000;
}

a:hover {
  color:red;
}

.edit-img {
  max-width:80px
}

footer {
  position: absolute;
  bottom:0;
  text-align: center;
  left:0;
  right:0;
}


@media screen and (max-width:600px) {
  .gallery .img {
    width:90%;
    margin:0 auto;
    float:none;
  }

  .content {
    padding:15px;
  }
}
